/* Header */

.header, .site-header {
    display: flex;
    justify-content: space-between;
    background-color: $background-color;
}

.header {
    border-bottom: 1px solid #222;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
}
