img {
    max-width: 100%;
}

.imgsass {
    width: 20%;
}
.imgcms {
    width: 20%;
}

.pictme {
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: brightness(55%);
    filter: opacity(0.6);
}

.logopic {
    filter: opacity(0.5);
}