/* technologies.scss */

    .landingpage { 
        .box {
            padding: 1em;
            border: 1px solid $box-border;
            box-shadow: 10px 10px 5px 0px $box-border-shadow;
        }
        .box.css {
        background-color: $grid-color-technologies;
        grid-column: 1 / span 1;
        }
        .box.html {
        background-color: $grid-color-technologies;
        grid-column: 2 / span 2;
        }
        .box.javascript {
        background-color: $grid-color-technologies;
        grid-column: 1 / span 2;
        }
        .box.php {
        background-color: $grid-color-technologies;
        grid-column: 3 / span 1;
        }
        .box.python {
        background-color: $grid-color-technologies;
        grid-column: 1 / span 3;
        }
        .box.git {
        background-color: $grid-color-technologies;
        grid-column: 1 / span 1;
        }
        .box.sqlite {
        background-color: $grid-color-technologies;
        grid-column: 2 / span 2;
        }
    }

/* responsiv grid technologies, wide screens*/
    @media screen and (min-width: 768px) {

        .landingpage {
            display: grid;
            gap: 1em 1em;
            padding: 1em;
            grid-template-columns: 1fr 1fr 1fr;
    
        }
    
        .landingpage h1 {
            grid-column: span 3;
            justify-self: center;
            text-decoration: underline;
        }
    }



/* responsiv grid technologies, small screens*/
@media screen and (max-width: 767px) {

    .landingpage h1 {
        justify-self: center;
        text-decoration: underline;
    }

    .landingpage {
        display: grid;
        gap: 1em 1em;
        padding: 1em;
        grid-template-columns: 1fr;
    
    }

    .landingpage {
        h1 {
                grid-column: span 1;
                grid-row: 1;
        }
        .box.css {
            grid-column: span 1;
            grid-row: 2;
        }
        .box.html {
            grid-column: span 1;
            grid-row: 3;
        }
        .box.javascript {
            grid-column: span 1;
            grid-row: 4;
        }
        .box.php {
            grid-column: span 1;
            grid-row: 5;
        }
        .box.python {
            grid-column: span 1;
            grid-row: 6;
        }
        .box.git {
            grid-column: span 1;
            grid-row: 7;
        }
        .box.sqlite {
            grid-column: span 1;
            grid-row: 8;
        }
    }
}

