$font-color: #242424;
$font-alternative-color: #333;
$hcolor: #d3d3d3;
$fontspecial: 'Rowdies', sans-serif;

$accent-color: #ee6c4d;
$background-body: #e7e5e5;
$background-color: rgb(93, 128, 69);
$background-alternative-color: rgb(149, 182, 127, 0.4);

$grid-color-technologies: rgb(238, 151, 94);