$font-color: #D3D3D3;
$font-alternative-color: #d3d3d3;
$font-alternative-shadow: #526875;
$hcolor: rgb(233, 155, 53);
$fontspecial: 'Rowdies', sans-serif;

$accent-color: #ee6c4d;
$background-body: #8B7E6D;
$background-color: #182A35;
$background-alternative-color: #526875;

$grid-color-technologies: #182A35;