$font-color: #EBEBEB;
$font-alternative-color: #EBEBEB;
$font-alternative-shadow: #526875;
$hcolor: rgb(233, 155, 53);
$fontspecial: 'Rowdies', sans-serif;

$accent-color: #ee6c4d;
$background-body: #8B7E6D;
$background-color: #182A35;
$background-alternative-color: #404D59;

$grid-color-technologies: #182A35;
$box-border: rgb(233, 155, 53);
$box-border-shadow: rgb(233, 155, 53, 0.4);